    img {
        display: block;
    }

    body {
        background-color: rgb(255, 255, 255);
    }

    h2 {
        color: black;
    }

    label {
        display: block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 25px;
        font-size: 25px;
        cursor: pointer;
        position: fixed;
        top: 20px;
        right: 20px;
    }

    #toggleMode {
        display: none;
    }

    #toggleMode:checked+label {
        background-color: rgb(49, 49, 49);
        color: #ffffff;
    }

    body:has(#toggleMode:checked) {
        background: rgb(72 72 72);
        color: #ffffff;
    }


    @media (prefers-color-scheme:dark) {
        body {
            background-color: rgb(72, 72, 72);
        }

        h2 {
            color: white;
        }

        label {
            color: white;
        }
    }