    img {
        display: block;
    }

    body {
        background-color: rgb(255, 255, 255);
    }

    a {
        color: inherit;
    }

    header {
        background-color: #9ECBFF;
        font-size: 4vw;
    }

    .imagecard {
        max-width: 25%;
        object-fit: cover;
    }

    .price {
        border: 1px solid green;
        border-radius: 20px;

    }

    .discount {
        border: 1px solid rgb(255, 0, 0);
        border-radius: 20px;
    }

    .card {
        background-color: #cde4ff5b;
    }

    .travellercard {
        width: 32%;
    }

    .durata {
        border: 0px solid rgba(0, 0, 0, 0.412);
        border-radius: 30px;
        background-color: #a7cffd84;
    }

    .boroad {
        font-weight: 900;
        font-family: "Saira Stencil One", sans-serif;
        text-transform: capitalize;
    }

    .boroad span {
        color: rgb(255, 0, 0);
    }

    .darkmode {
        background-color: #d1e6ff;
        display: block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 25px;
        font-size: 25px;
        cursor: pointer;
        align-self: center;
    }

    #toggleMode {
        display: none;
    }

    #toggleMode:checked+.darkmode {
        background-color: rgb(49, 49, 49);
        color: #ffffff;
    }

    body:has(#toggleMode:checked) {
        background: rgb(72 72 72);
        color: #ffffff;
    }

    header:has(#toggleMode:checked) {
        background: rgb(33, 33, 33);
        color: #ffffff;
    }

    body:has(#toggleMode:checked) .card {
        background: #274566;
        color: white;
    }


    .line-through {
        text-decoration: line-through;
    }

    @media screen and (max-width: 992px) {
        .travellercard {
            width: 48%;
        }

        header {
            font-size: 4vw;
        }

        .darkmode {
            width: 35px;
            height: 35px;
            line-height: 35px;
            border-radius: 35px;
            font-size: 15px;
        }
    }

    @media screen and (max-width: 576px) {
        .travellercard {
            width: 100%;
        }

        .darkmode {
            width: 25px;
            height: 25px;
            line-height: 25px;
            border-radius: 25px;
            font-size: 15px;
        }
    }